main{
    display: grid;
    max-width: 20.375rem;
    margin: auto;

    & tittle{
        display: grid;
        margin-top: 2.5rem;
        gap: 1rem;
    }

    ul{
        list-style: none;
        display: grid;
        gap: 1rem;

        & li{
            width: 100%;
            padding: 1rem;
            background-color: var(--background-secondary);
            border-radius: .5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
           

            & div{
                display: flex;
                gap: .5rem;
                align-items: center;

                & .check-container{
                    position: relative;
                    height: 1rem;
                    width: 1rem;
                    border: 1px solid var(--border-primary);
                    border-radius: .35rem;
                    

                    & input[type="checkbox"]{
                        position: absolute;
                        inset: 0;
                        opacity: 0;
                        transition: .5s;
                    }

                    &:has(:checked){
                        background: url(../assets/icons/state=selected.svg)center/contain;
                        border: none;
                    }

                    &:hover{
                        border: 1px solid green;
                    }
                }
            }

            button{
                position: relative;
                height: 1rem;
                width: 1rem;
                border: none;
                display: flex;
                cursor: pointer;
                left: 2px;
                background: url(../assets/icons/erase.svg)center/contain;
                transition: .25s;

                &:hover{
                    background: url(../assets/icons/erase-hover.svg) center/contain;
                }
     
            }
            
        }      
    }
    
    & #item-removed{
        margin-block: 2rem;
        display: none;
        padding: .75rem;
        background-color: var(--color-danger);
        border-radius: .5rem;
        justify-content: space-between;
        animation: 2.5s ease-out both;
        animation-name: none;
        transform: translateY(2rem);
        color: var(--always-white);

        & div{
            display: flex;
            gap: .5rem;
            align-items: center;

        }
    }
    
}

@media(width >= 80rem){
    main{
        max-width: 39.25rem;
    }
}

@keyframes item-removed{
    0%{
        opacity: 0;
    }
    
    60%{
        transform: translateY(0);
        opacity: 1;
    }

    80%{
        transform: translateY(0);
        opacity: 1;
    }

 
    100%{
        transform: translateY(1rem);
        opacity: 0;
    }
}