main{
    display: grid;
    max-width: 20.375rem;
    justify-content: center;
    margin: auto;

    & tittle{
        display: grid;
        margin-top: 2.5rem;
        gap: 1rem;
    }

    ul{
        list-style: none;

        & li{
            width: 100%;
            padding: 1rem;
            background-color: var(--background-secondary);
            border-radius: .5rem;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            & input[type="checkbox"]{
                position: absolute;
                right: calc(100% - 2.5rem);
            }

            input[type="button"]{
                position: absolute;
                left: calc(100% - 2rem);
            }
        }
    }
}